mixin video(info)
    div
            h4=info.title
            ul 
                li #{info.ration} / 5.
                li #{info.comments} commets.
                li Posted #{info.creadtedAt}.
                li #{info.views} views.